<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello! <%= locals.name || 'Default Name' %> :D </h1>
    <!-- use <%= name %> in ejs file to render the variable -->
    <!-- use <%= locals.name %> if don't know name is passed down or not. No error will appear. Can also use default -->
</body>
</html>